<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <div class="dark-mode-container">
        <mat-icon color="accent">dark_mode</mat-icon>
        <mat-slide-toggle
          [labelPosition]="'before'"
          [formControl]="toogleControl"
          [hideIcon]="false"
          >Dark mode</mat-slide-toggle
        >
      </div>

      <mat-nav-list>
        <a
          mat-menu-item
          routerLinkActive="active-list-item"
          routerLink="{{ item.routerLink }}"
          *ngFor="let item of ARRAY_NAV_ITEMS"
          ><mat-icon class="{{ item.icon }}" fontIcon="home"></mat-icon
          >{{ item.label }}</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      @for (content of fillerContent; track content) {
      <p>{{ content }}</p>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- Copyright 2024 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
