@use "@angular/material" as mat;
@include mat.core();

//Dark Variables
$my-primary-dark: mat.define-palette(mat.$indigo-palette, 500);
$my-accent-dark: mat.define-palette(mat.$purple-palette, 300);
$my-warn-dark: mat.define-palette(mat.$red-palette, 900);

//Light Variables
$my-primary-light: mat.define-palette(mat.$light-blue-palette, A100);
$my-accent-light: mat.define-palette(mat.$teal-palette,400);
$my-warn-light: mat.define-palette(mat.$red-palette, 500);

$my-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary-dark,
      accent: $my-accent-dark,
      warn: $my-warn-dark,
    ),
  )
);
$my-theme-light: mat.define-light-theme(
  (
    color: (
      primary: $my-primary-light,
      accent: $my-accent-light,
      warn: $my-warn-light,
    ),
  )
);

.theme-dark {
  @include mat.all-component-colors($my-theme-dark);
}
.theme-light {
  @include mat.all-component-colors($my-theme-light);
}
